[submodule "src/benchmarks/HPCCG"]
	path = src/benchmarks/HPCCG
	url = git@github.com:hannesweisbach/HPCCG.git
	branch = hwperfvar
[submodule "src/benchmarks/MiniFE"]
	path = src/benchmarks/MiniFE
	url = git@github.com:hannesweisbach/MiniFE.git
	branch = hwperfvar
[submodule "cmake/sanitizer"]
	path = cmake/sanitizer
	url = git://github.com/arsenm/sanitizers-cmake.git
[submodule "src/3rd/upca"]
	path = src/3rd/upca
	url = git@github.com:hannesweisbach/upca.git
